.managerContainer {
  display: grid;
  flex: 1;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 8px;
  touch-action: none;
}

.projectHeader {
  display: flex;
  justify-content: space-between;
}
