.modalWrapper {
  position: absolute;
  inset: 0;
  background-color: transparent;
  animation-name: wrapperBackground;
  animation-duration: 150ms;
  animation-fill-mode: forwards;
}

@keyframes wrapperBackground {
  from {
    background-color: transparent;
  }
  to {
    background-color: var(--color-shadow-grey-3);
  }
}

.modal {
  transition-duration: 200ms;
  border-radius: 10px;
  position: fixed;
  left: 50%;
  top: 50%;
  width: 100%;
  transform: translate(-50%, -50%) scale(0.9);
  overflow: hidden;
  opacity: 0;

  .modalButtonsWrapper {
    width: 50%;
    display: flex;
    justify-content: space-between;
  }
}

.animateModal {
  opacity: 1;

  .modal {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }
}
