@import "../../../../styles/variables.scss";

.tasksContainerWrapper {
  border-radius: 1.5rem;
  background-color: var(--color-white-0);
  padding: 0.5rem 0.5rem;
  position: relative;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  transform: translateZ(10);
  touch-action: none;

  .newTaskContainer {
    min-height: 48px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 $size-sm;
    h3 {
      margin-top: $size-xs;
      color: var(--color-grey-2);
      font-size: x-large;
      user-select: none;
      pointer-events: none;
    }
  }
  .textareaWrapper {
    display: flex;
    .input {
      width: 100%;
      margin: 0 $size-sm;
      margin-bottom: $size-sm;
      resize: vertical;
      min-height: 3em;
    }
  }
}

.containerHover:hover {
  background-color: rgb(255, 239, 219);
}

.tasksContainer {
  padding: 1rem 0.5rem 1rem 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 14px;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: var(--color-grey-1) transparent;
  scroll-behavior: smooth;

  &::-webkit-scrollbar-track {
    background-color: transparent;
  }
  &::-webkit-scrollbar-thumb {
    background-color: var(--color-grey-1);
    border: 2px solid transparent;
    border-radius: $size-sm;
    background-clip: padding-box;
  }
  &::-webkit-scrollbar {
    width: 1em;
  }
}

.addTaskButton {
  position: relative;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  font-weight: $font-weight-heavy;

  &:hover svg {
    color: var(--theme-main);
  }

  svg {
    transition: 300ms all;
    font-size: 30px;
    color: var(--color-grey-2);
  }
}

.pointer {
  position: relative;
  pointer-events: none;
  &:before {
    content: "";
    display: block;
    width: 100%;
    left: 0;
    top: $size-md;
    height: $size-xs;
    border-radius: 1em;
    position: absolute;
    pointer-events: none;
    background-color: var(--theme-main);
  }
}
