@import "../../../../styles/variables.scss";

.task {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  padding: 8px;
  border-radius: 16px;
  background-color: rgb(212, 212, 212);
  touch-action: none;
  user-select: none;
  cursor: grab;

  .textarea {
    border-radius: 8px;
    resize: none;
    overflow-wrap: break-word;
    border: 0;
    word-break: break-all;
    cursor: text;
  }

  .paragraph {
    cursor: pointer;
    border: none;
    border-radius: 8px;
    text-align: left;
    word-break: break-all;
    overflow-wrap: break-word;
    background-color: var(--color-white-0);
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }

  .taskDescription {
    margin-top: 12px;
    padding: 5px;
    overflow: hidden;
    line-height: 1.4;
  }

  .deleteButton {
    background-color: rgb(246, 246, 246);
    transition-duration: 300ms;
    transition-property: border-radius, width, box-shadow;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 8px;
    top: 8px;
    cursor: pointer;

    &:hover {
      box-shadow: 0 0 2px 0px var(--color-grey-2);
    }

    svg {
      fill: var(--color-grey-2);
      font-size: 16px;
    }
  }

  .confirmationView {
    width: 120px;
    border-radius: 12px;

    .confirmationButton {
      background-color: transparent;
      width: 50%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .confirmationButton svg {
      fill: var(--color-grey-1);
      font-size: 20px;
      transition: 0.3s fill;
    }
    .confirmationButton:hover svg {
      fill: var(--theme-main);
    }
  }
}

.before {
  position: relative;
  &:before {
    content: "";
    top: -$size-sm;
  }
}

.after {
  position: relative;
  &:after {
    content: "";
    bottom: -$size-sm;
  }
}

.removePointer {
  pointer-events: none;
}

.draggable {
  background-color: transparent;
  & > * {
    visibility: hidden;
  }
}
