.taskWrapper {
  border: 1px solid black;
  display: flex;
  max-height: 160px;
  max-width: 400px;
  box-sizing: border-box;
  padding: 10px;
  justify-content: center;
  .textarea {
    resize: none;
    height: 100%;
    width: 80%;
  }
  .button {
    max-width: 400px;
    width: 80%;
    max-height: 300px;
    height: auto;
    overflow: auto;
    display: inline-block;
    height: 80%;
    border: none;
  }
}
