@import "../../styles/variables.scss";

.button {
  margin: 0;
  border: none;
  border-radius: $size-sm;
  cursor: pointer;
}

.select {
  transition: all 150ms;
  width: 100%;
  padding: 5px 20px;
  font-size: 2em;
  letter-spacing: 1px;
  font-weight: $font-weight-normal;
  background-color: var(--color-white-1);
  border: 1px solid var(--color-white-1);
}

.select:hover {
  background-color: var(--theme-main);
  color: var(--color-white-1);
  border: 1px solid var(--color-white-1);
}

.disabled {
  cursor: not-allowed;
  color: var(--color-grey-1);
  background-color: var(--color-white-2);
}
