@import "../../../../styles/variables.scss";

.container {
  width: 100%;
  border-radius: 3em;
  box-shadow: 0 0 0.5em var(--color-black-3);
  background-color: var(--color-white-0);
  padding: 2em 0.5em;
  position: relative;
  overflow: hidden;

  h3 {
    margin-bottom: $size-xl;
    margin-left: $size-sm;
    color: var(--color-grey-2);
    font-size: 2.4em;
    pointer-events: none;
    user-select: none;
  }

  .input {
    margin-bottom: $size-sm;
    position: relative;
    width: 100%;
    right: 0;
    resize: vertical;
  }
}

.tasksContainer {
  max-height: 80vh;
  padding: 2em 0.5em 2em 0.5em;
  overflow-y: auto;
  &::-webkit-scrollbar-thumb {
    background-color: var(--color-grey-1);
    border: 2px solid transparent;
    border-radius: $size-sm;
    background-clip: padding-box;
  }
  &::-webkit-scrollbar {
    width: 1em;
  }
}

.addTaskButton {
  position: absolute;
  right: 20px;
  top: 20px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  background-color: var(--theme-main);
  color: var(--color-white-0);
  font-weight: $font-weight-heavy;

  &::before {
    content: "+";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-51%, -55%);
    font-size: $size-x2;
  }
}

.pointer {
  position: relative;
  &:before {
    content: "";
    display: block;
    width: 100%;
    left: 0;
    top: $size-md;
    height: $size-xs;
    border-radius: 1em;
    position: absolute;
    pointer-events: none;
    background-color: var(--theme-main);
  }
}

.pointerNone,
.pointerNone > * {
  pointer-events: none;
}
