@import "../../../../styles/variables.scss";

.container {
  width: 100%;
  border-radius: 30px;
  box-shadow: 0 0 5px black;
  padding: 20px;
  position: relative;
  background-color: $primaryWhite;

  h3 {
    margin-bottom: 30px;
    pointer-events: none;
    user-select: none;
  }

  .input {
    position: relative;
    width: 100%;
    right: 0;
    margin-bottom: 10px;
    resize: vertical;
  }
}
.addTaskButton {
  position: absolute;
  right: 20px;
  top: 20px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  background-color: #de9f55;
  color: #ffffff;
  font-weight: 900;

  &::before {
    content: "+";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-51%, -55%);
    font-size: 42px;
  }
}

.pointer {
  position: relative;
  &:before {
    content: "";
    display: block;
    left: 0;
    height: 4px;
    border-radius: 10px;
    top: -12px;
    background-color: #de9f55;
    width: 100%;
    position: absolute;
    pointer-events: none;
  }
}
