@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Lato", "roboto", "Times New Roman", Sans-serif;
  &::before {
    box-sizing: border-box;
  }
  &::after {
    box-sizing: border-box;
  }
}

body {
  min-height: 100vh;
  background: linear-gradient(90deg, #ffae52e7, #ff6f5cce);
}

main {
  margin: 0 auto;
  padding: 0 10px;
  margin-top: 80px;
  width: 100%;
  max-width: 1400px;
}

body > div {
  display: flex;
}
