.projectNameWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.projectName {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 2.4rem;
  font-weight: 900;
  letter-spacing: 2px;
  color: var(--color-grey-3);
}

.editButton {
  margin-left: 1rem;
  font-size: 2.8rem;
  transition-duration: 200ms;
  cursor: pointer;
  color: var(--color-grey-3);
  &:hover {
    color: white;
  }
}

.projectNameInput {
  padding: 4px;
  border-radius: 16px;
  border: none;
}
