.managerContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  margin: 0 auto;
  margin-top: 2em;
  max-width: 140em;
  gap: 1em;
}

.projectName {
  font-size: 2.4em;
  font-weight: 900;
  letter-spacing: 2px;
  color: var(--color-grey-3);
}
