.managerContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  margin: 0 auto;
  margin-top: 20px;
  height: 100%;

  max-width: 1400px;
  gap: 1em;
}

.projectNameWrapper {
  display: flex;
  justify-content: space-between;

  .projectSettingsGear {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3rem;
    height: 3rem;
    background-color: transparent;
    position: relative;

    svg {
      font-size: 36px;
      transition: all 300ms;
    }
  }
  .projectSettingsGear:hover svg {
    color: white;
    transform: rotate(90deg);
  }
}

.projectName {
  font-size: 2.4rem;
  font-weight: 900;
  letter-spacing: 2px;
  color: var(--color-grey-3);
}
