@import "../../../../styles/variables.scss";

.taskWrapper {
  cursor: grab;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  opacity: 1;
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0px 0px 3px 2px var(--color-shadow-grey-1);

  .taskIndex {
    font-size: 1.6em;
  }

  .textarea {
    resize: none;
    font-size: 1.4em;
    overflow-wrap: break-word;
    border: 0;
    word-break: break-all;
    cursor: text;
  }

  .button {
    cursor: text;
    display: flex;
    border: none;
    text-align: left;
    font-size: 1.4em;
    max-height: 8em;
    word-break: break-all;
    overflow-wrap: break-word;
    background-color: var(--color-white-1);
    box-shadow: 0px 2px 3px 1px var(--color-shadow-grey-3);
  }

  .taskDescription {
    margin-top: 10px;
    padding: 5px;
    overflow: hidden;
  }

  .deleteButton {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: none;
    position: absolute;
    right: 5px;
    top: 5px;
    cursor: pointer;
  }
}
.taskWrapper + .taskWrapper {
  margin-top: 12px;
}
.current {
  box-shadow: 0px 0px 4px 2px var(--color-black-2);
}

.indicator {
  position: relative;
  &:before,
  &:after {
    left: 0;
    height: $size-xs;
    display: block;
    border-radius: 10px;
    background-color: var(--theme-main);
    width: 100%;
    position: absolute;
    pointer-events: none;
  }
}

.before {
  position: relative;
  &:before {
    content: "";
    top: -$size-sm;
  }
}

.after {
  position: relative;
  &:after {
    content: "";
    bottom: -$size-sm;
  }
}
.removePointer > * {
  pointer-events: none;
}
