@import "../../../../styles/variables.scss";

.taskWrapper {
  cursor: grab;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  opacity: 1;
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0px 0px 3px 2px var(--color-shadow-grey-1);
  background-color: white;

  .taskIndex {
    font-size: 1.6rem;
  }

  .textarea {
    resize: none;
    font-size: 1.4rem;
    overflow-wrap: break-word;
    border: 0;
    word-break: break-all;
    cursor: text;
  }

  .paragraph {
    cursor: text;
    border: none;
    text-align: left;
    font-size: 1.4rem;
    max-height: 8rem;
    word-break: break-all;
    overflow-wrap: break-word;
    background-color: var(--color-white-1);
    box-shadow: 0px 2px 3px 1px var(--color-shadow-grey-3);
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }

  .taskDescription {
    margin-top: 10px;
    padding: 5px;
    overflow: hidden;
    line-height: 1.4;
  }

  .deleteButton {
    background-color: rgb(246, 246, 246);
    box-shadow: 0 0 2px 2px rgb(112, 112, 112);
    transition-duration: 300ms;
    transition-property: border-radius, width, box-shadow;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 5px;
    top: 5px;
    cursor: pointer;

    &:hover {
      box-shadow: 0 0 3px 2px var(--color-grey-2);
    }

    svg {
      fill: var(--color-grey-2);
      font-size: 16px;
    }
  }

  .confirmationView {
    width: 120px;
    border-radius: 12px;

    .confirmationButton {
      background-color: transparent;
      width: 50%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .confirmationButton svg {
      fill: var(--color-grey-1);
      font-size: 20px;
      transition: 0.3s fill;
    }
    .confirmationButton:hover svg {
      fill: var(--theme-main);
    }
  }
}

.current {
  box-shadow: 0px 0px 4px 3px rgb(179, 85, 26);
}

.indicator {
  position: relative;
  &:before,
  &:after {
    left: 0;
    height: $size-xs;
    display: block;
    border-radius: 10px;
    background-color: var(--theme-main);
    width: 100%;
    position: absolute;
  }
}

.before {
  position: relative;
  &:before {
    content: "";
    top: -$size-sm;
  }
}

.after {
  position: relative;
  &:after {
    content: "";
    bottom: -$size-sm;
  }
}

.removePointer {
  pointer-events: none;
}

.draggable {
  background-color: rgb(80, 80, 80);
  box-shadow: 2px 2px 4px rgb(58, 58, 58);
  & > * {
    visibility: hidden;
  }
}
