.dropdown {
  transition: 200ms all;
  opacity: 0;
  z-index: 1000;
  position: absolute;
  margin-top: 32px;
  right: 8px;
  overflow: hidden;
  min-width: 140px;
  border-radius: 4px;
  box-shadow: rgb(68, 68, 68) 1px 2px 5px 1px;

  li {
    list-style-type: none;
  }
}

.transition {
  opacity: 1;
}

.dropdownWrapper {
  position: relative;
}
