.dropdownWrapper {
  transition: 300ms all;
  z-index: 1000;
  position: absolute;
  right: 1rem;
  margin-top: 1rem;
  background-color: rgb(38, 38, 38);
  width: 0;
  height: 0;
  overflow: hidden;

  li {
    list-style-type: none;
    width: 100%;

    button {
      width: 100%;
      padding: 4px 0;
      border-radius: 0;
      font-size: 1.4rem;
      font-weight: 600;
      letter-spacing: 1px;
    }

    &:not(:last-child) {
      margin-bottom: 2px;
    }

    button:hover {
      background-color: var(--theme-main);
      color: var(--color-white-1);
    }
  }
}

.transition {
  padding: 1px 1px;
  width: 120px;
  height: 54px;
}

.projectSettingsGear {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;
  background-color: transparent;
  position: relative;

  svg {
    font-size: 36px;
    color: var(--color-grey-3);
    transition: all 300ms;
  }
}
.projectSettingsGear:hover svg {
  color: white;
}

.activeGear svg {
  transform: rotate(90deg);
  fill: white;
}
