.taskWrapper {
  cursor: grab;
  border-radius: 10px;
  box-shadow: 0px 0px 3px 2px #666666;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 10px;
  justify-content: center;
  opacity: 1;
  position: relative;
  .textarea {
    resize: none;
    font-size: 14px;
    overflow-wrap: break-word;
    border: 0;
    word-break: break-all;
    cursor: text;
  }
  .button {
    text-align: left;
    max-height: 120px;
    display: flex;
    border: none;
    font-size: 14px;
    overflow-wrap: break-word;
    background-color: #ededed;
    word-break: break-all;
    box-shadow: 0px 2px 3px 1px #29292976;
    cursor: text;
  }
  .taskDescription {
    margin-top: 10px;
    padding: 5px;
    overflow: hidden;
  }
  .deleteButton {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: none;
    position: absolute;
    right: 5px;
    top: 5px;
    cursor: pointer;
  }
}
.taskWrapper + .taskWrapper {
  margin-top: 20px;
}
.current {
  box-shadow: 0px 0px 4px 2px rgb(22, 22, 22);
}
.before {
  position: relative;
  &:before {
    content: "";
    display: block;
    left: 0;
    height: 4px;
    border-radius: 10px;
    top: -12px;
    background-color: #de9f55;
    width: 100%;
    position: absolute;
    pointer-events: none;
  }
}

.after {
  position: relative;
  &:after {
    content: "";
    display: block;
    left: 0;
    height: 4px;
    border-radius: 10px;
    bottom: -12px;
    background-color: #de9f55;
    width: 100%;
    position: absolute;
    pointer-events: none;
  }
}
.removePointer > * {
  pointer-events: none;
}
