@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Lato", "roboto", "Times New Roman", Sans-serif;
  &::before {
    box-sizing: border-box;
  }
  &::after {
    box-sizing: border-box;
  }
}

:root {
  --theme-background: linear-gradient(90deg, #ffae52e7, #ff6f5cce);
  --theme-navigation: linear-gradient(#424242, #56565600);
  --theme-main: #e8993f;
  --color-white-0: #ffffff;
  --color-white-1: #f2f2f2;
  --color-white-2: #ededed;
  --color-grey-1: #6c6c6c;
  --color-grey-2: #4f4f4f;
  --color-grey-3: #2d2d2d;
  --color-black-2: #161616;
  --color-black-3: #000000;
  --color-shadow-grey-1: #666666;
  --color-shadow-grey-3: #29292976;
}

html {
  font-size: 62.5%;
}

body {
  background: var(--theme-background);
}

main {
  margin: 0 auto;
  padding: 0 1rem;
  margin-top: 80px;
  max-width: 140rem;
  width: 100%;
  max-height: calc(100svh - 140px);
}

body > div {
  display: flex;
}
