@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");

* {
  box-sizing: border-box;
  font-family: "Noto Sans", "Lato", "roboto", "Times New Roman", Sans-serif;
  &::before {
    box-sizing: border-box;
  }
  &::after {
    box-sizing: border-box;
  }
}

:root {
  --theme-background: linear-gradient(90deg, #ffae52e7, #ff6f5cce);
  --theme-navigation: linear-gradient(#424242, #56565600);
  --theme-main: #e08953;
  --color-white-0: #ffffff;
  --color-white-1: #f2f2f2;
  --color-white-2: #ededed;
  --color-grey-1: #6c6c6c;
  --color-grey-2: #4f4f4f;
  --color-grey-3: #2d2d2d;
  --color-black-2: #161616;
  --color-black-3: #000000;
  --color-shadow-grey-0: #909090;
  --color-shadow-grey-1: #666666;
  --color-shadow-grey-3: #29292976;
}

html {
  overflow: hidden;
  min-height: 100%;
}

body {
  background: var(--theme-background);
  height: 100vh;
}

main {
  margin: 0 auto;
  padding: 0 10px;
  margin: 40px auto;
  max-width: 1400px;
  width: 100%;
  max-height: calc(100svh - 140px);
  display: flex;
  flex-direction: column;
  flex: 1;
}

#app {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.formError {
  min-height: 12px;
  color: rgb(161, 81, 81);
}
